<div class="col-md-3">
  <div class="thumbnail">
    <div class="profile-picture">
      <% if @current_user %>
        <%= image_tag attachment_url(@current_user, :photo, :fill, 270, 270, format: "jpg"), style:"max-width: 100%; border: 1px solid #445291; border-radius: 5px; margin: auto;"%>
      <% end %>
    </div>
    <div class="nav-controls">
      <% if @current_user %>
        <%= link_to new_post_path do %>
          <i class="fa fa-pencil-square-o", id="new-post", style="font-size: 20px; line-height: 72px; max-height: 100%;"></i>
        <% end %>
          <%= link_to user_path(name: @current_user.name) do %>
            <%= @current_user.name %>
            &nbsp;
            <i class="fa fa-user"></i>
          <% end %>
        <%= link_to "Sign Out", sign_out_path, class: "btn btn-default" %>
      <% else %>
        <%= link_to "hello", root_path %>
        <%= link_to "Sign In", sign_in_path, class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>
