<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-left">
      <% if @current_user %>
        <%= image_tag attachment_url(@current_user, :photo, :fill, 70, 70, format: "jpg"), style:"max-width: 100%; min-width: 100%; border: 1px solid #445291; border-radius: 5px; margin: auto;"%>
      <% end %>
    </div>
    <div class="navbar-right">
      <% if @current_user %>
        <%= link_to new_post_path do %>
          <i class="fa fa-pencil-square-o", id="new-post", style="font-size: 20px; line-height: 72px; max-height: 100%;"></i>
        <% end %>
        &nbsp;&nbsp;
        <small><%= link_to @current_user.name, root_path %></small>
        &nbsp;&nbsp;
        <%= link_to "Sign Out", sign_out_path, class: "btn btn-default" %>
      <% else %>
        <%= link_to "hello", root_path %>
        &nbsp;&nbsp;
        <%= link_to "Sign In", sign_in_path, class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
</nav>
