<%= render 'shared/navbar' %>
<div class="container">
  <% @user.posts.order("created_at desc").each do |post| %>
    <div class="thumbnail">
      <% if post.user %>
        <%= link_to user_path(name: post.user.name) do %>
          <strong><%= post.user.name %></strong>
        <% end %>
        &nbsp;&nbsp;
      <% end %>
      <small>
        <span class="glyphicon glyphicon-time"></span>
        at
        <%= link_to post_path(id: post.id) do %>
          <%= distance_of_time_in_words post.created_at, Time.now %> ago
        <% end %>
      </small>
      <div class="post">
        <br>
        <% if post.photo %>
          &nbsp;&nbsp;<%= image_tag attachment_url(post, :photo, :fill, 400, 400, format: "jpg"), style:"max-width: 100%; border: 1px solid #445291; border-radius: 5px; margin: 0 auto;"%>
          <br>
          <br>
        <% end %>
        <%= post.post_text %>
      </div>
    </div>
  <% end %>
</div>
