<%= render 'shared/navbar' %>
<div class="container">
    <div class="thumbnail">
      <strong><%= @post.user.name if @post.user %>&nbsp;&nbsp;</strong>
      <small>
        <span class="glyphicon glyphicon-time"></span>
        at
        <%= @post.created_at.strftime("%b %d, %Y") %>
      </small>
      <% if @post.user == @current_user %>
        &nbsp;&nbsp;
        <%= link_to edit_post_path(id: @post.id) do %>
          <i class="fa fa-pencil-square-o", id="new-post", style="font-size: 20px; line-height: 72px;"></i>
        <% end %>
        &nbsp;&nbsp;
      <% end %>
      <div class="post">
        <% if @post.photo %>
          <%= image_tag attachment_url(@post, :photo, :fill, 400, 400, format: "jpg"), style:"border: 1px solid #445291; border-radius: 5px; margin: 0 auto;"%>
          <br>
          <br>
        <% end %>
        <%= @post.post_text %>
      </div>
    </div>
</div>
