<!DOCTYPE html>
<html>
<head>
  <title>Meows</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="favicon.ico" type=”image/x-icon” />
</head>
<body>
  <div class="main-header">
    <%= link_to root_path do %>
      <%= image_tag "kitty-icon-white.png", style:"max-height: 100%;" %>
    <% end %>
  </div>
<%= yield %>

</body>
</html>
